@model Model.departement

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Département")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_dep)
        </dd>

        <dt>
            @Html.DisplayName("Région")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reg_dep)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "Index")
        </div>
    }
</div>
