@model Model.departement

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>departement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomDepartement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomDepartement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumeroDepartement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
