@model IEnumerable<Model.medecin>

@{
    ViewBag.Title = "Index";
}
<style>
    h2 {
        color: blue;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th {
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    a {
        color: blue;
        text-decoration: none;
    }

        a:hover {
            color: red;
            text-decoration: underline;
        }
</style>

<h2>Liste des médecins :</h2>

@using (Html.BeginForm("SearchMedecins", "medecins", FormMethod.Get))
{
    <input type="text" name="nom" placeholder="Nom du médecin">
    <button type="submit">Rechercher</button>
}


<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Département")
        </th>
        <th>
            @Html.DisplayName("Spécialité")
        </th>
        <th>
            @Html.DisplayName("Nom")
        </th>
        <th>
            @Html.DisplayName("Prénom")
        </th>
        <th>
            @Html.DisplayName("Adresse")
        </th>
        <th>
            @Html.DisplayName("Téléphone")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departement.NomDepartement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialite.LbSpecialite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMedecin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomMedecin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseMedecin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneMedecin)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.IdMedecin }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Détails", "Details", new { id = item.IdMedecin }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Supprimer", "Delete", new { id = item.IdMedecin }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
